/* contact.css */

body {
    font-family: Arial, sans-serif;
    background-image: url("/high-angle-plant-notebook-frame2.jpg"); 
    background-color: #ffeb7b;

}
.line {
    font-family: 'freestyle script';
     font-size: 25px; 
}
.contact-content {
    max-width: 600px;
    margin: 50px auto;
    padding: 35px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-box {
    margin-bottom: 20px;
}

.form-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-box input,
.form-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    background-color: black;

    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    color: #ffffff;
}
